/* -----------------------
Base styles
------------------------*/

body
{
	margin: 0;
	padding: 0;
	color: #262626;
	background-color: #ecedea;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1
{
    font-size: 2.25em;
}
h2
{
    font-size: 1.75em;
}
h3
{
    font-size: 1.375em;
}
h4
{
    font-size: 1.125em;
}
h5
{
    font-size: 1em;
}
h6
{
    font-size: .875em;
}

p
{
	margin: 0 0 1.5em;
	line-height: 1.25;
}


hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #004192;
}

a:link { color: #004192; }
a:visited { color: #004192; }
a:focus { color: green; }
a:hover { color: green; }
a:active { color: #ff544f; }


.container
{
	max-width: 70em;
	margin: 0 auto;
}

header
{
	color: white;
	background: #004192;
	padding: 1em 1.25em;
}

header #subinfo
{
	color: #ecedea;
}

header #quals
{
    color: #ffca4d;
}

nav
{
	background: #262626;
	padding: 0;
    text-align: center;
}

.page
{
	overflow: hidden;
	padding: 2em 3em;
	margin-bottom: 1em;
}

section {
	padding-top: 1em;
}

aside
{
    float: right;
	margin-bottom: 1em;
	padding: 1em 0em 0em 1em;
    width: 30%;
}

footer
{
	color: #ffca4d;
	background: #262626;
	padding: 1em 1.25em;
}

/*
nav .container
{
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #20457c
}
*/

nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li
{
	display: inline;
	margin: 0;
}

nav ul a
{
	display: inline-block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
}

nav ul a:link { color: white; }
nav ul a:visited { color: white; }
nav ul a.selected
{
    color: #262626;
    background-color: #ffca4d;
}


nav ul a:focus
{
	color: #262626;
	background-color: #ff544f;
}

nav ul a:hover
{
	color: #262626;
	background-color: #ff544f;
}

nav ul a:active
{
	color: #ffca4d;
	background-color: #ff544f;
}

section .image-block {
    text-align: center;
}

section figure {
    display: inline-block;
    font-style: italic;
    text-align: center;
}


